div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href='#') Sunday Picks
			div.btn-group.pull-right
				a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
					i.icon-user 
					| Username
					span.caret
				ul.dropdown-menu
					li
						a(href='#') Profile
					li.divider
					li
						a(href='#') Sign Out
			div.nav-collapse
				ul.nav
					li.active
						a(href='#') Home
					li
						a(href='#about') About
					li
						a(href='#contact') Contact
div.container-fluid
	div.row-fluid
		div.span8
			h2 Week
			p
				table.table
					thead
						tr
							- for (var i = 1; i <= 17; i++) {
								td
									a(href='/week/' + i)= i
							- }
					tbody
			div
				table.table.table-striped
					thead
						tr
							th Starts (EST)
							th Away Team
							th
							th Home Team
							th Spread
					tbody
						-each game in games
							!=partial('game', { game: game });
		div.span4
			h2 Standings
			p
				table.table.table-striped.table-bordered
					thead
						tr
							th(rowspan="2") Name
							th(colspan="4") Season
							th(colspan="3") Week
						tr
							th W
							th L
							th T
							th GB
							th W
							th L
							th T
					tbody
						-each player in players
							!=partial('player', { player: player });
