!!!
html
	head
		title Sunday Picks Beta
		// Styles
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/bootstrap-responsive.css')
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		link(rel='shortcut icon', href='bootstrap/ico/favicon.ico')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='../assets/ico/apple-touch-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='../assets/ico/apple-touch-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='../assets/ico/apple-touch-72-precomposed.png')
	body!= body
